.help-container {
}

.first-section {
  background: var(--clr-white);
  padding: 3rem 1rem;
}

.center {
  margin-bottom: 3rem;
  font-family: var(--ff-secondary);
}

.help-you-wrapper {
  background-color: var(--main-primary-color-18);
  height: 250px;
  padding: 2.5rem;
  margin-bottom: 6rem;
}

.help-you-wrapper h3 {
  color: var(--clr-white);
  margin-bottom: 3rem;
}

.help-you-wrapper textarea {
  width: 90%;
  height: 60px;
  text-transform: capitalize;
  font-size: 1.25rem;
  color: var(--clr-grey-5);
  padding: 0.5rem;
  font-family: var(--ff-secondary);
  max-width: 90%;
  max-height: 120px;
  min-height: 60px;
}

.help-you-wrapper-2 {
  display: grid;
  grid-template-columns: 1fr;
}

.only-discount,
.only-watch,
.reset {
  padding: 1.5rem;
}

.reset {
  background: var(--clr-green-dark);
}

.only-discount,
.only-watch {
  background: var(--clr-green-light);
}

.only-discount {
  border-top: 1px solid rgba(0, 0, 0, 0.329);
}

.only-discount h4,
.only-watch h4,
.reset h4 {
  font-size: 1.75rem;
}
.help-link {
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
  color: var(--clr-secondary-9);
}

.help-link span {
  padding-top: 0.25rem;
  margin-left: 0.5rem;
}

.reg-link {
  background: var(--clr-white);
  border: 1px solid var(--main-dark-color);
  padding: 0.25rem 1.25rem;
  transition: var(--transition);
  border-radius: 5px;
}

.reg-link:hover {
  color: var(--clr-white);
  background: var(--clr-secondary-9);
}

/* second section */

.second-section {
  text-align: center;
  padding: 3rem 1rem;
  background-color: var(--main-primary-white);
}

.ctn-us-wrapper {
  background-color: var(--clr-white);
  height: 100px;
  width: 80%;
  margin: 2rem auto;
  display: grid;
  align-items: center;
}

#cnt-us {
  font-size: 1.5rem;
}

.second-section p {
  color: var(--main-primary-color-18);
  font-size: 1.25rem;
}

@media screen and (min-width: 768px) {
  .help-you-wrapper-2 {
    grid-template-columns: repeat(3, 1fr);
  }

  .help-you-wrapper textarea {
    width: 70%;
    max-width: 70%;
  }

  .only-discount {
    border-left: 1px solid rgba(0, 0, 0, 0.329);
  }
}
