.form-container {
  background: var(--clr-white);
  padding: 0rem 0.25rem 0.25rem 0.5rem;
  position: relative;
}

#search-form label {
  color: var(--main-primary-color-18-hs);
  font-size: 1.25rem;
  font-weight: bold;
}

.search-category {
  border: 1.8px solid var(--main-dark-color);
  display: flex;
}

#search {
  flex-basis: 70%;
  padding: 0.25rem;
  border: none;
  letter-spacing: 0.1rem;
  font-size: 1.1rem;
  text-transform: capitalize;
}
#search:focus {
  outline: none;
}

.category-icon {
  color: var(--clr-grey-5);
  border-left: 1px solid var(--main-lighter-dark);
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-basis: 15%;
  justify-content: center;
}

.category-icon span {
  display: none;
}

.submit-search {
  color: var(--clr-white);
  height: inherit;
  flex-basis: 15%;
  display: inline-block;
  letter-spacing: 0.1rem;
  transition: var(--transition);
  background: var(--main-primary-color-15);
  text-align: center;
}

.submit-search:hover {
  background: var(--main-primary-color-16);
  color: var(--main-dark-color);
}

.all-categories {
  position: absolute;
  bottom: 0%;
  transform: translateY(100%);
  right: 0;
  width: fit-content;
  padding: 0.5rem 0 0.5rem 0.5rem;
  color: var(--clr-black);
  letter-spacing: 0.1rem;
  background: var(--clr-grey-5);
  z-index: 3;
  display: none;
}

.all-categories ul li {
  cursor: pointer;
  padding: 0 0.25rem;
}

.all-categories ul li:hover {
  background: var(--clr-primary-5);
}

.search-sub-link {
  margin: 0 0.25rem;
  color: var(--clr-white);
  transition: var(--transition);
}

.search-sub-link:hover {
  text-decoration: underline;
}

.show-categories {
  display: block;
}

@media screen and (min-width: 800px) {
  #search-form {
    display: flex;
    justify-content: space-evenly;
  }

  .search-category {
    width: 70%;
    display: flex;
    /* justify-content: space-between; */
  }

  .category-icon {
    justify-content: space-evenly;
  }

  .category-icon span {
    display: block;
  }

  .all-categories {
    position: absolute;
    bottom: 0%;
    right: 15%;
  }

  .spacial {
    right: 0;
  }
}

@media screen and (min-width: 1300px) {
  .spacial {
    right: 4%;
  }
}
