/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

/*
=============== 
Variables
===============
*/

:root {
  /* Major Colors: */
  --main-primary-color-1: #4a4a4a;
  --main-primary-color-2: #6c63ff;
  --main-primary-color-3: #1d293f;
  --main-dark-color: #000;
  --main-primary-color-5: #707070;
  --main-doll-red-color-7: #f2545b;
  --main-primary-color-8: #8c5e58;
  --main-primary-color-9: #2e5bff;
  --main-primary-color-10: #a93f55;
  --main-primary-white: #e7eaed;
  --main-lighter-dark: #313131;
  --main-primary-color-13: #131523;
  --main-primary-color-14: #183b56;
  --main-primary-color-15: #5a7184;
  --main-primary-color-16: #7c8087;
  --main-primary-color-17: #5691ef;
  --main-primary-color-18: #242582;
  --main-primary-color-18-hs: hsla(239, 57%, 33%, 0.718);
  --main-primary-color-19: #323643;
  --main-primary-color-20: hsla(43, 74%, 49%, 0.911);
  --main-primary-color-21: hsla(43, 74%, 49%, 0.699);

  /* secondary/clear color */
  --clr-secondary-5: hsl(205, 78%, 60%);
  /* lighter shades of secondary clear color */
  --clr-secondary-6: hsl(205, 89%, 70%);
  --clr-secondary-7: hsl(205, 90%, 76%);
  --clr-secondary-8: hsl(205, 86%, 81%);
  --clr-secondary-9: hsl(339, 78%, 43%);
  --clr-secondary-10: hsl(205, 100%, 96%);

  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* Regular */
  --ff-primary: 'Poppins', sans-serif;
  --ff-secondary: 'Open Sans', sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

::after,
::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}


button {
  cursor: pointer;
  border: none;
  transition: var(--transition);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
